/*style for header*/
body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}
.header-start{
    background-color: #eee;
    box-shadow: 0 4px 8px 0 rgb(0, 0, 0,0.4);
    position: sticky;
    top: 0;
    height: 80px;
}
.logo{
    display: inline-block;
    margin-left: 8px;
    font-family: fantasy;
    font-weight: bolder;
}
.logo span{
    color: blue;
}
nav{
    background-color: transparent;
    color: black;
    font-weight: bold;
    float: right;
    display: inline-block;
    margin-top: 12px;
    margin-right: 10px;
    border: 1px solid black;
    border-radius: 10px;
}
nav, a, .drop-btn{
    display: inline-block;
    color: black;
    text-align: center;
    padding: 5px 5px;
    font-weight: bold;
    text-decoration: none;
}
.dropdown-content{
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    width: 200px;
    box-shadow: 0 8px 16px 0 rgb(0, 0, 0,0.2);
    z-index: 1;
    border-radius: 10px;
    text-align: center;
}
.dropdown-content a{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    margin-right: 10px;
}
.dropdown-content a:hover{
    background-color: #bbb;
}
.dropdown:hover.dropdown-content{
    background-color: #bbb;
}
.dropdown:hover .dropdown-content{
    display: block;
}
/*style for contact page*/
body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}
html{
    box-sizing: border-box;
}
.contact-container{
    border: 1px solid black;
    border-radius: 10px;
    margin: 0 10px;
    box-shadow: 0 4px 8px 0 rgb(0, 0, 0,0.2);
}
.contact-start{
    padding: 50px;
    text-align: center;
    background-color: #474e5d;
    color: white;
}
.contact-box{
    margin: 8px 0 9px 15px;
}
.contact-box h2{
    text-align: center;
    color: black;
}
.contact-box p span{
    font-size: 18px;
    font-weight: bold;
    color: blue;
}
.contact-box a{
    text-decoration: none;
    color: black;
}
/*style for contact form*/
.form-title{
    text-align: center;
    color: black;
}
input[type=text], input[type=email], select,textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 10px;
    resize: vertical;
}
input[type=submit]{
    background-color: blue;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    font-size: 20px;
}
input[type=submit] :hover{
    background-color: deeppink;
}
.form-container{
    border-radius: 14px;
    background-color: #f2f2f2;
    padding: 20px;
    margin: 0 15px;
}